<div class="row">
    <h1 class="text-center page-header">Tracked Breweries</h1>
    <form class="form-inline">
        <div class="text-center">
            <input type="text" ng-model="name" class="form-control">
            <button ng-click="addBrewery(name)">Add Brewery</button>
        </div>
    </form>
</div>
<div class="row">
    <div ng-repeat="brewery in breweries track by $index" class="col-sm-4 brew-display">
        <h4 class="text-center"><a href="{{ brewery.website }}" target="_blank""">{{ brewery.name }}</a></h4>
        <div class="text-center">
            <a href="#/brewery-list/{{ brewery.id }}"><img class="brew-img" src="{{ brewery.images.squareMedium }}"
                                                           alt=""></a>
        </div>
        <div class="text-center">
            <button type="button" class="btn" ng-click="removeBrewery($index)">Remove</button>
        </div>
    </div>
</div>