<div class="row">
    <h1 class="text-center">Sign in to Beer Bucket</h1>
    <div class="col-sm-6">
        <form action="" class="form-inline">
            <label>Returning User?</label>
            <br>
            <input type="text" placeholder="userName" ng-model="user.userName">
            <br>
            <input type="text" placeholder="password" ng-model="user.password">
            <br>
            <button>Log In</button>
        </form>
    </div>
    <div class="col-sm-6">
        <form class="form-inline">
            <label>New User?</label>
            <br>
            <input type="text" placeholder="userName" ng-model="newUser.userName">
            <br>
            <input type="text" placeholder="password" ng-model="newUser.password">
            <br>
            <input type="text" placeholder="confirm password" ng-model="newUser.confirmPassword">
            <br>
            <button>Sign Up!</button>
        </form>
    </div>
</div>