<div class="col-sm-3 col-xs-9 side-bar">
    <h2 class="text-center"></h2>
    <div class="side-bar-navs">
        <a href="#/home"><h2 class="text-center">Beer Bucket</h2></a>
        <h4 class="text-center"><a href="#/your-beer-bucket">Your Beer Bucket</a></h4>
        <h4 class="text-center"><a href="#/your-completed-beers">Completed Beers</a></h4>
        <h4 class="text-center"><a href="#/brewery">Brewerys</a></h4>
        <h4 class="text-center"><a href="#/beer-categories">Beer Info</a></h4>
        <h5 class="text-center" ng-if="!userService.isAuthenticated()"><a href="#/login">log in</a></h5>
        <h5 class="text-center" ng-if="userService.isAuthenticated()"><a href="#/logout">log out</a></h5>
    </div>
</div>