<div class="row">
    <h1 class="text-center">Log In</h1>
    <div class="col-md-4 col-md-offset-4">
        <form action="">
            <div class="form-control text-right">
                <label for="">User Name</label>
                <input type="text" placeholder="your user name" ng-model="user.userName">
            </div>
            <div class="form-control text-right">
                <label for="">Password</label>
                <input type="password" placeholder="your password" ng-model="user.password">
            </div>
            <div class="text-center">
                <button type="button" ng-click="login(user)">Log In</button>
                <button type="button" ng-click="goSignup()">Sign Up?</button>
            </div>
        </form>
    </div>
</div>